<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Estadísticas Quiz</h3>
    </div>
    <div class="panel-body">
     <h4>Totales</h4>
     <blockquote>
      <p>Preguntas:&nbsp;&nbsp;<%= estadistica.preguntas %><br/>
      Comentarios:&nbsp;&nbsp;<%= estadistica.comentarios %><br/>
      Preguntas con comentario:&nbsp;&nbsp;<%= estadistica.con_comentario %><br/>
      Preguntas sin comentario:&nbsp;&nbsp;<%= estadistica.sin_comentario %><br/>
      Promedio comentarios por pregunta:&nbsp;&nbsp;<%= estadistica.promedio %><br/><br/>
      Usuarios:&nbsp;&nbsp;<%= estadistica.usuarios %><br/>
      Administradores:&nbsp;&nbsp;<%= estadistica.administradores %></p>
      </blockquote>
    </div>
</div>
